*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.input-item{
  width: 30%;
  padding: .8rem .6rem;
  background: #ccc;
  border: 1px solid black;
  color: black;
  font-size: 1.2rem;
  outline: none;
  border-radius: 10px;
  font-weight: 600;
  position: sticky;
  top: 0;
}
.main-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.card{
  width: 500px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.container_content{
  padding: 20px;

}

.container_content img{
  /* width: 100%; */
  height: auto;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  object-fit: cover;
  max-height: 200px;
}
.items p{
  line-height: 1.5;
  margin: 5px 0;
  font-size: 1rem;
}
.items p:nth-child(1){
  font-size: 1.5rem;
}